@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero-container {
  height: 90dvh;
  background-image: url("./heroCover.webp");
  background-size: cover;
  background-position: center;
}

footer {
  background-image: url("./footerBG.png");
  background-size: cover;
  background-position: center;
}

@theme {
  --font-spacial: "Manrope", sans-serif;
  --font-primany: "Poppins", sans-serif;
  --color-white: #f0fff1;
  --color-blue: #124e78;
  --color-green: #7ee081;
  --color-yellow: #d19c1d;
  --color-hover: #34d1bf;
  --color-hover-0: #2e0f15;
}
